.graella {
  margin: auto;
  background-color: grey;
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}
.Avatar {
  height: 300px;
  width: 50%;
  cursor: pointer;
}

.fullscreen {
  width: 100%;
  height: 100%;
  position: absolute;
}
.botones {
}
.resultat {
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin: auto;
}
.title2 {
  visibility: hidden;
}
.title3 {
  display: block;
}
