.graella {
  margin: auto;
  background-color: grey;
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}
.Avatar {
  height: 300px;
  width: 50%;
  cursor: pointer;
}

.fullscreen {
  width: 100%;
  height: 100%;
  position: absolute;
}
.botones {
}
.resultat {
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin: auto;
}
.deshidden {
  visibility: hidden;
}
.desshow {
  display: block;
}

.img {
  width: 300px;
  height: 200px;
}

.caja {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
  
  margin: auto;
}

.clicat {
  font-size: 40px;

  width: 30%;
}
.noclicat {
  width: 30%;
  font-size: 40px;
  display: block;
}
