.graella {
  margin: auto;
  background-color: grey;
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;
}
.Avatar {
  height: 300px;
  width: 50%;
  cursor: pointer;
}

.fullscreen {
  width: 100%;
  height: 100%;
  position: absolute;
}
.botones {
}
.resultat {
  width: 200px;
  height: 200px;
  background-color: aqua;
  margin: auto;
}
.deshidden {
  visibility: hidden;
}
.desshow {
  display: block;
}

.img {
  width: 300px;
  height: 200px;
}

.caja {
  width: 800px;
  height: 800px;
  display: flex;
  flex-wrap: wrap;

  margin: auto;
}

.clicat {
  font-size: 40px;

  width: 30%;
}
.noclicat {
  width: 30%;
  font-size: 40px;
  display: block;
}

.box-clock {
  width: 300px;
  height: 200px;
  background-color: gray;
  margin: auto;
}
.hora {
  height: 60px;
  width: 140px;
  background-color: rgb(194, 189, 183);
  margin: auto;
}
.data {
  height: 60px;
  width: 140px;
  background-color: antiquewhite;
}

.amagar-data {
  visibility: hidden;
}
.btn-date {
  margin: auto;
}
/* rellotge analogic */
.rellotge {
  position: relative;
  width: 200px;
  height: 200px;
  margin: auto;
  border: 1px solid black;
  border-radius: 50%;
}

.segons {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 2px;
  height: 100px;
  background-color: red;
  transform-origin: bottom center;
}
.minuts {
  position: absolute;
  height: 90px;
  width: 2px;
  border: 1px solid #090cdb;
  margin: auto;
  top: 10px;
  left: 100px;
  transform-origin: bottom center;
}

.hora {
  position: absolute;
  height: 50px;
  width: 2px;
  border: 1px solid #53c24f;
  margin: auto;
  top: 50px;
  left: 100px;
  transform-origin: bottom center;
}
.tres {
  right: 0;
  top: 70px;
}

.sis {
  bottom: 0;
  left: 90px;
}
.nou {
  top: 70px;
  left: 0px;
}
.dotze{
  left: 90px;
  top: 0px;
}

.nhora{
  width: 20px;
  height: 20px;
  position: absolute;
}
